@import '~antd/dist/antd.dark.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@font-face {
    font-family: 'NGNormal';
    src: url('../fonts/NGRE.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NGBoldExtended';
    src: url('../fonts/NGEBE.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #1a1a2e;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.content {
    text-align: center;
    color: #fff;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.card {
    background: rgba(100, 100, 100, 0.8);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ant-tabs-nav {
    margin: 0;
}

.ant-tabs-tab {
    font-size: 1rem;
}

sup {
    font-size: 0.75em;
    vertical-align: super;
    color: #bbbb22;
}
