/* Importing CodeMirror and additional styles */
@import '~codemirror/lib/codemirror.css';
@import '~codemirror/addon/scroll/simplescrollbars.css';
@import '~codemirror/theme/dracula.css';

.remote-caret {
    border-left: 2px solid #50fa7b;
    border-right: 2px solid #50fa7b;
    margin-left: -2px;
    margin-right: -2px;
}

.remote-caret > div {
    background-color: #6272a4;
    color: #f8f8f2;
    font-size: 0.75em;
    padding: 2px 4px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.remote-caret.hide-name > div {
    transition-delay: 0.5s;
    opacity: 0;
    transform: scale(0.9);
}

.remote-caret:hover > div {
    opacity: 1;
    transition-delay: 0s;
    transform: scale(1.1);
}

.CodeMirror {
    font-family: 'Fira Code', monospace;
    height: 100%;
    width: 100%;
    position: absolute;
    font-size: 14px;
    line-height: 1.5;
    color: #f8f8f2;
    background-color: #282a36;
}

.CodeMirror-scrollbar {
    background-color: #44475a;
    opacity: 0.5;
}

.CodeMirror-scrollbar:hover {
    opacity: 0.8;
}

@media (max-width: 600px) {
    .CodeMirror {
        font-size: 12px;
    }
}

.CodeMirror-focused {
    border-color: #6272a4;
}